<section>
  <nav class="px-4 md:px-10 lg:px-20">
    <ul class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
      <!-- Logo -->
      <li class="flex justify-start md:justify-start items-center">
        <img class="h-6 md:hidden" src="/menu-icon.svg" />

        <img class="h-30 w-auto" src="./assets/home-logo.png" />
      </li>

      <!-- Menu -->
      <li
        class="hidden md:flex flex-col md:flex-row justify-evenly gap-4 md:gap-8 backdrop-blur-2xl rounded-2xl px-10"
      >
        <a class="text-white" routerLink="/about">About</a>
        <a class="text-white">Listing</a>
        <a class="text-white">Contact</a>
        <a class="text-white" routerLink="/donation">Donation</a>
      </li>
    </ul>
  </nav>
</section>
