<section>
  <nav class="px-4 md:px-10 lg:px-20">
    <ul class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
      <!-- Logo -->
      <li class="flex justify-start md:justify-start items-center">
        <img class="h-30" src="./assets/home-logo.png" />
      </li>

      <!-- Menu -->
      <li
        class="absolute top-22 w-2xs md:w-full flex gap-5 bg-black backdrop-blur-2xl rounded-2xl px-10"
      >
        <div class="flex">
          <img src="/assets/about.svg" /><a
            class="text-white hidden md:flex gap-2"
            routerLink="/about"
          >
            About</a
          >
        </div>
        <div class="flex">
          <img src="/assets/listing.svg" class="" /><a
            class="text-white hidden md:flex gap-2"
            routerLink="/listing"
            >Listing</a
          >
        </div>
        <div class="flex">
          <img src="/assets/feedback.svg" /><a
            class="text-white hidden md:flex gap-2"
            routerLink="/feedback"
            >Feedback</a
          >
        </div>
        <div class="flex">
          <img src="/assets/donation.svg" /><a
            class="text-white hidden md:flex gap-2"
            routerLink="/donation"
            >Donation</a
          >
        </div>
      </li>
    </ul>
  </nav>
</section>
