<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  @for (item of properties; track $index) {
    <div class="card p-3 border">
      <!-- Use property binding [src] to show the actual image -->
      <img [src]="item.img" alt="Property Image" class="w-full h-auto" />
      <div class="flex justify-between items-center px-2">
        <div>
          <p>{{ item.propertyName }}</p>
          <div class="flex">
            <p class="">{{ item.category }} |</p>
            <p class="">{{ item.address }}</p>
          </div>
        </div>
        <button class="bg-black text-white px-3 py-1 rounded-2xl">Inquire</button>
      </div>
    </div>
  }
</section>
